**/build/
**/frames/
**/clean_frames/
**/preview/
**/preview_png/
**/*.ppm
**/*.meta1
**/*.meta2
**/*.dice1k
**/output/*.png
**/output/*.mp4
**/output/*.csv
**/output/*.stl
!media/*.mp4
!media/*.jpg
!source/*.zip
.DS_Store
Thumbs.db
